
p Hola #{datosPersonales.nombre},
p Gracias por participar del Congreso Internacional de Gestion Humana.
p Estas son sus mesas para el evento:
ol
  each mesa in rotaciones
    li #{mesa.topico}

p Te esperamos.